{% extends "base_generic.html" %}
{% block content %}
{% load static %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{% static "img/home-bg.jpg" %}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Clean Blog</h1>
            <span class="subheading">A Blog Theme by Start Bootstrap</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% for post in post_latest %}
          {% if forloop.first %}
            <div class="post-preview">
              <a href="{{ post.get_absolute_url }}">
                <h2 class="post-title">
                  {{ post.title }}
                </h2>
                <h3 class="post-subtitle">
                  {% if post.is_content_more300 %}
                    {{ post.get_content_more300 }}
                  {% else %}
                    {{ post.content }}
                  {% endif %}
                </h3>
              </a>
              <p class="post-meta">Posted by
                <a href="#">
                  {% for c in post.category.all %}
                    {{ c }}
                    {% if not forloop.last %}
                      ,
                    {% endif %}
                  {% endfor %}
                </a>
                {{ post.createDate }}
              </p>
            </div>
            <hr>

          {% else %}
            <div class="post-preview">
              <a href="{{ post.get_absolute_url }}">
                <h2 class="post-title">
                  {{ post.title }}
                </h2>
                 <h3 class="post-subtitle">
                  {% if post.is_content_more300 %}
                    {{ post.get_content_more300 }}
                  {% else %}
                    {{ post.content }}
                  {% endif %}
                </h3>
              </a>
               <p class="post-meta">Posted by
                  <a href="#">
                    {% for c in post.category.all %}
                      {{ c }}
                      {% if not forloop.last %}
                        ,
                      {% endif %}
                    {% endfor %}
                  </a>
               {{ post.createDate }}
               </p>
            </div>
            <hr>
          {% endif %}
        {% endfor %}
        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
        </div>
      </div>
    </div>
  </div>

  <hr>

 {% endblock %}

